body {
    width: 960px;
    margin:auto;
}
header h1 {
    margin-bottom: 20px;
    font-weight: bolder;
}
header {
    text-align: center;
}

header li{
    display: inline;
    margin:auto  10px;
}
.nav {margin-bottom: 15px;}
header .nav a:hover {text-decoration: underline;}

header li {
    list-style: none;
}
header a {
    text-decoration: none;
    color: black;
}
header span a {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    background-color: blue;
}
span a:hover {
    background-color: transparent;
    color: blue;
}
header {
    padding-bottom: 20px;
    border-bottom: 1px solid dimgray;
}
.all {text-align: center}
.all h1 {
    margin-bottom: 20px;
    font-weight: 500;
}

.button {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color:white;
    padding: 10px 20%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.button:hover {
    background-color: transparent;
    color:blue;
}

.box1 {
    border: 1px solid darkgray;
    border-radius: 5px;
    text-align:center;
    margin: 10px auto;

}
.box {list-style-type: none;}

.box li {
    padding: 3px;
}
.box .emphasize {
    margin-bottom: 20px;
    margin-top: 15px;
}
.stro {
    font-size: 30px;

}

.box1 h2 {
    font-weight: 500;
    text-align: center;
    background-color: lightgray;
    border-bottom: 1px solid darkgray;
}

.image {
    height: 10px;
    width: 10px;
}

.foot {
    display: grid;
    grid-template-columns: 50% 50%;
}

.f1 {
    float: left;
}
.f2 {
    float: right;
}
.f3 {
}
.foot {
    text-align: left;
}
.foot li {
    list-style: none;
    margin-left: -40px;
    color: gray;
}
.foot h3 {
    margin: 10px auto auto ;
}
