h1{
    color:yellow;
    text-align:center;
    background:-webkit-linear-gradient( black , black , black , black);
    border-top: 5px solid red;
    border-bottom:5px solid red;
}
h2{
    color:#00F318;
    background:-webkit-linear-gradient(60deg,white,white,red,black,black,red,white,white);
    text-align:center;
    font-weight:bolder;
    font-size:30px;
}
h3 {
    background-color:black;
    color:#00F318;
}
h4{
    background:-webkit-linear-gradient(60deg,#00f318,#00f318,white,white);
}
button {
    color:red;
    font-weight:bolder;
    padding:10px;
    margin:10px 0 10px 30%;
}
b {
    color:blue;
    background-color:white;
}
i {
    color:blue;
    font-weight:bolder;
}
u{
    color:blue;
    text-decoration:none;
}
.style_info{
    width:350px;
    height:70px;
    color:red;
    background-color:cyan;
    font-size:20px;
    font-weight:bolder;
}
.footer{
    width:200px;
    background-color:#ffccaa;
    color:black;
    font-weight:bolder;
    border:4px solid blue;
    border-radius:10px;
    margin:auto;
}
