* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Times New Roman", fantasy;
}
h1:hover {
    color: darkred;
}

input {
    border: 1px black solid;
    text-align: center;
    width: 40%;
    height: 25px;
    margin: auto auto auto 380px;
    border-radius: 15px;
    display: inline;
    float: left;
    font-style: italic;
    outline: none;
}
@media (max-width: 750px) {
    input {
        margin: auto auto auto 200px;
    }
}
button {
    float: left;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    width: 20px;
    height: 25px;
    background-image: url("../IMG/searc.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -21px;
    outline: none;
}

button::selection {
    background: black;
}
button {
    clear: right;
}
.header ul {
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 20px;
    width:90%;

}


.header li {
    display: inline;
    margin: 5px;
}
.header a {
    padding: 5px 20px;

    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white ;
    background-color: black;
}

.header a:hover {
    border: 1px solid white  ;
    font-style: italic;
}
.pop h2::selection {
    color: red;
}

.many h2 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    grid-column: 1/6;
}
.few {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.few img{
    margin: auto 3px;

}

.few h2 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.pop {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.many {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 10px 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.pop h2:hover {
    color: black;
}

.foot {
    display: grid;
    grid-template-columns: repeat(2, 50%);

}
.set {
    color: white;
    padding: 10px;
}
.set h2 {
    margin-bottom: 10px;
}
.set li {
    list-style: none;
}
.set a {
    color: white;
    text-decoration: none;
}
.about a {
    color: black;
    text-decoration: none;
}
.about li {
    list-style: none;
    font-weight: bolder;
}

.about h2 {
    margin-bottom: 10px;
}
footer a:hover {
    color: gold;
}
.about {
    color: white;
    padding: 10px;
}
footer li {
    padding-bottom: 5px;
}
p {
    text-align: center;
}



.current {background-color:green;}
.san {background-color: purple;}
.few {background-color: darkslategray}
.set {background-color: black;}
.about {background-color: dimgray}