.home {
    margin: auto;
    text-align: center;
    padding: 0;
    background-color: midnightblue;
    width: 600px;

}
h1 {
    color: white;
    font-family: Tahoma, cursive;
    display: inline;
    margin-bottom: 50px;

}

#log {
    color: white;
    background-color: darkblue;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}
a {
    color: white;
}
button {
    background-color: darkslateblue;
    border: none;
}
#header {
    margin-bottom: 50px;
}