html {height: 100%}
body {
    background: url("../IMG/sky.jpg") no-repeat;
    padding: 10px 25px 25px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-size: cover;
}
p {margin: 0 0 1em 0;}
h1 {
    margin: 0 0 .4em 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
article {
    background-color: rgba(255,255,255,.65);
    border-radius: 8px;
    margin: 20px 260px 25px 25px;
    padding: 15px 25px 25px 25px;
    position: relative;
}
h2 {
    margin: 0 0 .9em 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #233e71;
    line-height: 1.3em;
    font-style: italic  ;
}

aside {
    background-color: black;
    border-radius: 10px;
    width: 150px;
    padding: 15px 28px 20px  45px;
    color: #FFFFFF;


}
h3 {
    font-size: 1.5em;
    font-weight:700 ;
    margin: 0 0 10px 0;
    line-height: 1.2em;

}
aside p {
    font-size: .9em;
    line-height: 1.3em;
}
a {
    font-size: .8em;
    background: linear-gradient(to bottom right, #233e72, #2ecc71) ;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-radius: 7px;
    border: 2px solid #233e72;
    padding: 4px 20px;
    text-transform: uppercase;

}
aside p em {
    color: rgba(255,255,255,.3);
}
a::after {
    content: ">>";
    padding-left: 10px;
}
