* {
    margin: 0;
    padding: 0;
    font-family: "Bradley Hand ITC", cursive;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container a {
    position: relative;
    width: 300px;
    height: 75px;
    display: inline-flex;
    margin: 10px 0;
    font-size: 24px;
    color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 1.5s;

}
.container a:hover {
    color: #fff;
}
.container a:hover:before {
    width: 100%;
}
.container a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url("../IMG/eng.jpg");
    background-size: cover;
    transition: 0.5s;
}
.container a:nth-child(2):before {
    border-radius: 50%;
    background: url("../IMG/line.png");
    background-size: cover ;
}
.container a span {
    position: relative;
    z-index: 1;

}