* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.all {
    height: 100vh;
    width: 200%;
    background-image: url("../IMG/sky.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    margin: 0;
    animation: city 20s linear infinite;


}

.anm {
    height: 130vh;
    width: 500%;
    display: inline;
    background-image:url(../IMG/trans.jpg);
    position: absolute;
    bottom: 60px;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}
@keyframes city { 100% {transform: translateX(-1400px);} }


.format {
    width: 370px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.1);
    font-family: Consolas, sans-serif;
    border-radius: 10px;
}
input {
    display: block;
    width: 80%;
    margin: 30px auto;
}

h1, footer {
    background-color: darkorange;
    color: white;
    text-align: center;
    padding: 10px;
    height: 40px;

}

#username {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    width: 70%;
    font-size: 16px;
    outline: none;
}

#password {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    color: black;
    width: 70%;
    font-size: 16px;
    outline: none;

}
#submit {
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    background-color: black;
    width: 130px;
    font-family: cursive;
    padding: 10px;
    font-size: 18px;
    outline: none;
    margin-top: 40px;
}

#sign {
    text-align: center;
    margin-left: 30%;
    font-size: 14px;
}
footer {
    margin-top: 26px;
    text-shadow: 1px 2px black;
    padding-top: 20px;
}
