body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("../IMG/mountain.jpg") center;
    font-family: sans-serif;
}
.log {
    width: 320px;
    height: 420px;
    background: #000;
    color: #FFFFFF;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.log p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.log input {
    width: 100%;
    margin-bottom: 20px;
}
.log input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #FFFFFF;
}
.log input[type="submit"] {
    border:none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
}
.log input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.log h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.log a {
    text-decoration: none;
    color: darkgray;
    font-size: 12px;
    line-height: 20px;

}
.log a:hover {
    color: #ffc107;
}
