* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna", cursive;
}
header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}
header h1 {
    margin-top: -100px;
}
header, header::before {
    background: 50% 50% / cover;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url("../IMG/code.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}
header * {
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    animation: heading 2s alternate-reverse infinite;
    animation-delay: 0.2s;
}

@keyframes heading  {
    0% {
        color: white;
    }
    50% {color: ghostwhite}
    100% {color: transparent}
}

header p:first-of-type {
    font-size: 30px;
    animation: paragraph 2s alternate-reverse infinite;
    animation-delay: 0.5s;
}
@keyframes paragraph  {
    0% {color: white;}
    50% {color: ghostwhite}
    100% {color: transparent}
}
header p:last-of-type{
    font-size: 20px;
    animation: para 2s alternate-reverse infinite;
    animation-delay: 1s;
}
@keyframes para  {
    0% {color: white;}
    50% {color: ghostwhite}
    100% {color: transparent}
}
