* {
    margin: 0;
    padding: 0;
}
.all {background-color: dodgerblue;}
.parts {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 5px;
}
.header {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: black;
}
.profile {text-align: center;}
.profile img {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black ;
    border-radius: 63px;
}
.profile h1 {
    color: black;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
}
h1 {margin-bottom: 10px;}
.header h1 {
    font-size: 50px;
    color: gold;
    font-family: Tahoma, cursive;
    text-align: left;
    margin: 0;
    padding:5px 100px 15px 5px;
}
.header h1:hover {
    color: white;
}
h3 {margin-bottom: 10px;}
.header ul {
    margin: 0;
    padding: 0;
}
.header a {
    text-decoration: none;
    padding: 10px 50px;
    color: darkgrey;
    font-size: 18px;
}
.header li {
    margin: 5px;
}
p  {
    margin-bottom: 10px;
}
.header a:hover {
    color: white;
}
.design {
    text-align: center;
}
.black {
    list-style-type: none;
    background-color: black;
    color: lightgray;
}
.cv {
    list-style-type: none;
    background-color: black;
    color: white;
}
.pa1 {
    text-align: center;
    font-size: 20px;
}
.blue {
    background-color: darkblue;
    color: white;
    text-align: center;
}
.blue li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.para1 h3 {
    color: blue;
    font-size: 23px;
}
.para1  {
    background-color: darkslategrey;
    color: white;
    border: 1px solid white;
    box-shadow: 5px 3px 5px midnightblue;
    margin:0 17px;
}
.para1 {
    padding: 0 15px;
    width: 30%;
    float: left;
    box-sizing: border-box;
}
.par1 {
    margin-bottom: 50px;
    border-bottom: 2px solid black;
}
.line {
    height: 50px;
    clear: both;
    margin-bottom:  10px;
    border-bottom: 2px solid black;
}
.training  {
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}
.empty {
    border: none;
    padding: 20px 0 10px 5px;
}
.empty {
    border: none ;
    padding: 10px auto 5px 2px;
    width: 90%;
    margin: 20px auto;
    background-color: white;

}
.noire {
    border: 4px solid black;
    width: 100%border-box;
    margin-left: -5px;
}
.empt {
    border: none ;
    width: 90%;
    background-color: white;
    margin-bottom: 0px;
}
.noir {
    border: 4px solid black;
    width: 100%border-box;
    margin-left: -5px;
}
.interest {
    padding-top: 20px;
    border-bottom: 2px solid black ;
    border-top: 2px solid black ;
    margin-top: 10px;
}
.contact {
     background-color: #111111;
    color: white;
}
.contact ul {
    list-style: none;
    margin-top: 30px;
    padding-left: 30px;
}
.contact li {
    font-size: 25px;
    padding-left:5px;

}
.contact a:hover {
    color: darkgoldenrod;
}
.contact a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.face {list-style-image: url("../IMG/face.png") ;}
.insta {list-style-image: url("../IMG/insta.png");}
.twit {list-style-image: url("../IMG/twit.png");}
.link {list-style-image: url("../IMG/link.png") ;}
.git {list-style-image: url("../IMG/git.png") ;}

.cv li {
    padding-bottom: 20px;
    margin-bottom: -10px;
}

@media (max-width: 700px) {
    .para1 {
        width: 100%;
    }
}