html {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
body {
    width: 450px;
    margin: 10px auto;
}
#profile {
    width: 100%;
    height: 150px ;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #3A81DA;
}
#profile img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    margin: 15px auto;
}
#profile h1 {
    font-size: 25pt;
    font-family: "Bradley Hand ITC", fantasy;
    color: #3b464c;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.main {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
}
.main p:first-of-type {
    text-align: center;
    margin-bottom: 50px;
}
p span {
    font-size: 15pt;
    color: #20bcd5;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
    text-align: center;
}
p span {
    border: 4px dashed #20bcd5;
    padding: 15px;
    text-align: center;
}
p {
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    font-size: 15pt;
}
blockquote {
    font-size: 12pt;
    color: #3b464c;
    text-align: right;
    margin: 0;
    padding-top: 5px;
    font-weight: bold;
    font-family: "Bradley Hand ITC", cursive;
}
span {
    font-weight: bold;
}
.face {
    transform: scale(0.3);
    display: block;
    margin: -90px auto;
}