* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --mainbg: #ff4d73
}
body {
    overflow-x: hidden;
}
.header .content-box {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../IMG/engine.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.menu {
    display: inline-flex;

}
.menu img {
    height: 35px;
    margin: 20px 0 0 110px;
    cursor: pointer;
}
.menu button {
    padding: 5px 20px ;
    background: var(--mainbg);
    color: #fff;
    font-size: 16px;
    border: 0;
    position: absolute;
    right: 10%;
    top: 5%;
}
.banner-text {
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
    text-align: center;
}
.banner-text h2 {
    margin-top: 50px;
    font-size: 64px;
}
.banner-text p {
    margin: 20px 0 50px;
    font-size: 16px;
}
.banner-text a {
    text-decoration: none;
    color: #fff;
    border: 1px solid var(--mainbg);
    display: block;
    padding: 10px;
    width: 180px;
    margin: auto;
    background-color: var(--mainbg);
    transition: 0.5s;
}
.banner-text a:hover {
    background: transparent;
}
/* ----Service --- */
.service .content-box {
    background: #f4f3ff;
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    padding-top: 100px;
}
h1::after {
    content: '';
    background: var(--mainbg);
    display: block;
    height: 3px;
    width: 110px;
    margin: 15px auto 50px;

}
.service .row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    padding: 10px 80px;
}
.text-center {
    text-align: center;
}
.services .icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 18px;
    height: 70px;
    width: 70px;
    border: 1px solid var(--mainbg);
    border-radius: 50%;
    color: red;
}
.services p {
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    padding: 20px;
}.services span {
    color: var(--mainbg);
    transition: .5s;

 }
.services .col-md-3:hover {
    background: #454141;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.4);
    transition: .5s;
}
.services .col-md-3:hover .icon {
    border: 1px solid #fff;
    color: white;
}
.services .col-md-3:hover p{
    color: white;
}
img:hover {
    color: red;
}
.services .col-md-3:hover span {
    color: white;
}
.col-md-3 {
    padding-bottom: 30px;
}
/* ---------Features----------*/

.feature .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: #f4f3ff;
}
.feature h2 {
    margin-top: 130px;
    margin-left: 50px;
}
.feature h2:after {
    content: '';
    background: var(--mainbg);
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 50px;
    position: absolute;
    left: 57px;

}
.col-md-6 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.feature ul {
    margin-top: 30px;
    margin-left: 100px;
    list-style: none;
}
.feature ul li {
    line-height: 40px;
    font-size: 18px;
    position: relative;
}
.feature ul li:after {
    content: '';
    height: 7px;
    width: 7px;
    background: var(--mainbg);
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}

.feature img {
    margin-top: 110px;
}
/* -------------Footer ---------- */
.footer {
    background: #f4f3ff;
}
.footer h1 {
    padding-top: 50px;
}
.contact-form {
    padding: 15px ;
}

input {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
    width: 80%;
    height: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 8px;
}
textarea {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
}
.btn-primary {
    background: #ff4d77 !important;
    box-shadow: none !important;
    margin-left: 50px;
    padding: 5px;
    border-radius:0;
    border: none !important;
    text-align: center;
    color: #fff;
}

::placeholder {
    font-size: 12px;
}
.contact-form button {

}
.footer .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.contact-info ul {
    margin-left: 25px;
    list-style-type: armenian ;
}
.contact-info .follow {
    background: white;
    width: 80%;
    padding: 8px;
    margin: 15px;
    font-size: 16px; !important;

}
.follow li {
    font-size: 16px;
}

.address li {
    list-style: url("../IMG/location_filled_20px.png");
    padding-left: 20px;
}
.telephone li {
    list-style: url("../IMG/phone_20px.png");
    padding-left: 20px;
}
.mail li {
    list-style: url("../IMG/message_20px.png");
    padding-left: 20px;
}
.media  img {
    margin-right: 30px;
    cursor: pointer;
}
#copyright {
    margin-left: 67px;
    text-align: center;
    font-size: 16px;
}
.footer hr {
    border: none;
    width: 80%;
    margin:50px auto;
    background: var(--mainbg);
    color: var(--mainbg);
    height: 2px;
}
.container{
    padding-bottom: 50px;
}
.service, .feature, .footer {
    margin-top: 5%;
}
