* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("../IMG/eng.jpg") fixed;
}

.box {
    position: absolute;
    background: url("../IMG/eng.jpg") fixed;


}