* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.all {
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.left {
    text-align: center;
    float: left;
    width: 33.3%;
    background: url("start.gif");
    background-size: contain;
    position: relative;
    height: 100vh;
}
.left .logo {
    position: absolute;
    width: 300px;
    height: 380px;
    transform: translate(90%, 45%);
    overflow: hidden;
    background-size: cover;
    background-image: url("../Blog1/me.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    transition: .4s all;
}
.logo:hover  {
    width:  305px;
    height: 385px ;
}

.left a {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 200px;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none ;
    padding: 13px 50px;
    border: 2px solid white;
    font-size: 18px;
    transition: .4s all;
}
.left a:hover {
    background-color:rgba(139,0,0,.3);
    color: white;
    padding: 15px 45px;
    top: 19.5%;
}

.right {
    position: relative;
    float: right;
    width: 66.7%;
    height: inherit;
    background: rgba(255,255,255,1)url("live.svg");
    background-size: cover;
    z-index: 3;
}
.right #logo {
    width: 46%;
    margin: 100px auto 40px auto;
    padding-left: 5px;
}
.right #logo h1 {
    font-weight: 400;
    font-size: 25px;
    color: black;
    display: inline;
    text-align: center;
}

form {
    width: 44%;
    margin: 20px auto;
    padding: 10px ;

}

label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: lighter;
}
::placeholder {
    font-size: 16px;
    color: gray;
    font-weight: 100;
}
#email, #password {
    background: transparent;
    display: block;
    font-size: 19px;
    font-weight: lighter;
    padding: 8px 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}
#email:focus, #password:focus {
    border: 1px solid black;
}
#submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: white;
    background: black;
    border: none;
    border-radius: 3px;
    font-weight: lighter;
    width: 60%;
    transition: .4s all;
}
#submit:hover {
    background: rgba(0,0,0,.1);
    border: 1px solid black;
    color: black;
}
form #checkbox {
    width: 15px;
    height: 15px;
    background: transparent;
    outline: none;
    margin: 10px 5px 10px 0;
    padding: 5px;

}
#lab {
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    margin-left: 5px;
}
#checkbox:checked{
    color: white;
    border: 1px solid yellow;
    outline: none;
    background: red;
}

@media screen and (max-width: 1080px) {
    body {
        height:100vh;
        background: rgba(255,255,255,.3)url("live.svg")

    }
    .right #logo {
        width: 70%;
        margin: 100px auto 40px auto;
        padding-left: 5px;
    }
    form {
        width: 70% ;
    }
    .left {
        visibility: hidden;
        background: none;
        height: 0;
    }
    #email, #password {
        width: 90%;
    }
    .right {
        background: none;
        float: none;
        width: 60%;
        margin: auto;
        height: 100vh;
    }
    #lab {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    form {
        width: 90% ;
    }

    .right {
        width: 95%;
        margin: auto;
        height: 100vh;
    }
    #email, #password {
        width: 90%;
    }
}
