* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

.all {
    width: 45%;
    height: 98vh;
    margin: auto;
    border: 1px solid rgba(0,0,0,.6);
}


@media screen and (max-width: 1200px) {
    .all { width: 60% }
}
@media screen and (max-width: 960px) {
    .all { width: 70% }
}

@media screen and (max-width: 760px) {
    .all { width: 78% }
}
@media screen and (max-width: 600px) {

    .all { width: 100% ; border: none}

}
    header {
        width: 100%;
        height: 10vh;
        text-align: center;
        color: white;
        background: rgba(0,0,0,.8);
        padding-bottom: 10px;
        padding-top: 20px;
    }

    main {
        color: rgba(0,0,0,.8);
        width: 100%;
        margin: auto;
        padding: 15px 3px;
        height: 60vh;
    }

    form {
        width: 80%;
        margin: 10vh auto;
        padding: 10px;
    }

    label {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: lighter;
    }

    ::placeholder {
        font-size: 16px;
        color: rgba(0,0,0,.8);
        font-weight: 400;

    }

    #email, #password {
        background: transparent;
        display: block;
        font-size: 19px;
        font-weight: 400;
        padding: 12px 0 5px 5px;
        outline: none;
        border: 1px solid rgba(0,0,0,.8);
        border-left-width: 5px;
        border-radius: 1px;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 98%;
        transition: .4s all;
    }

    #email:focus, #password:focus {
        border: 1px solid black;
    }

    #submit {
        display: inline-block;
        margin: 10px 0 10px auto;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        color: white;
        background: rgba(0,0,0,.8);
        border: none;
        border-radius: 3px;
        font-weight: lighter;
        width: 20%;
        float: right;
        transition: .4s all;
    }

    #submit:hover {
        background: white;
        border: 1px solid rgba(0,0,0,0.6);
        color: black;
    }

    form #checkbox {
        width: 18px;
        height: 18px;
        background: transparent;
        outline: none;
        margin: 10px 5px 10px 0;
        padding: 5px;

    }

    #lab {
        font-size: 18px;
        margin-bottom: 3px;
        font-weight: lighter;
        font-family: Helvetica, sans-serif;
        margin-left: 5px;
    }

    #checkbox:checked {
        color: rgba(0,0,0,.8);
        outline: none;
    }


    footer {
        width: 100%;
        height: 20vh;
        border-top: 2px solid rgba(0,0,0,.6);
    }

    .social {
        width: 80%;
        margin: auto;
    }

    .social li {
        align-items: center;
        text-align: center;
        border-radius: 15px;
        padding: 5px;
        width: 18px;
        height: 18px;
        margin: 15px 15px 0 0;
        font-size: 20px;
        list-style: none;
        display: inline-block;
    }

    .social li {
        background: rgba(0, 0, 0,1);
        color: white;
        border: 1px solid rgba(0,0,0,0.6);
    }
    .social li a {
        color: white;
        transition: .3s all;
    }
    .social li:hover {
        background: rgba(0, 0, 0,.4);
    }

    #outer {
        text-decoration: underline;
        display: block;
    }
    #outer a:first-of-type {
        color: rgba(0,0,0,.8);
        float: left;
    }
    #outer a:last-of-type {
        color:rgba(0,0,0,.8);
        float: right;
        margin: 0 2px 10px auto;
    }
    #outer a:hover {
        text-decoration: none;
        font-style: italic;
    }
    .clear {
        clear: both;
        margin-bottom: 15px;
    }

