* {
    margin: 0;
    padding: 0;
}
body {
    /*background:lightcyan;*/
    background: url("cans-background.jpg") center;
    background-size: cover;
    background-attachment: fixed;
}
.html {
    width: 60%;
    margin: 0 auto;
    height: 100vmax;
    background: #000;
}

h1 {
    padding-top: 30px;
    color: lightyellow;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}
h2 {
    padding-top: 15px;
    color: lightblue;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;

}
.one {
    position: relative;
    height: 65vh;
}
.anim-1 {
    animation: Rolling 0.05s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 0%;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
    /*transition: width 0.2s ease-out, background-color 2s linear;*/

}
.anim-1:hover {
    animation: Rolling 0.1s ease-in infinite;
    transition: all 1.5s;
}

#light-blue-cir {
    width: 300px;
    height: 300px;
}

@keyframes Rolling {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.two {
    position: relative;
    height: 65vh;
}