* {
    margin: 0;
    padding: 0;
}
body {
    background:black;
}
.html {
    width: 60%;
    margin: 0 auto;
    height: 100vh;
    background: antiquewhite;
}

h1 {
    padding-top: 30px;
    color: black;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}