:root {
    --bg-color: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e,
#32b37b);box-shadow:0 0 5px rgba(0,0,0,.1) ;

}

* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--bg-color);
}

.navigation {
    position: fixed;
    top: 0;
    overflow: visible;
    box-shadow: 0 3px 12px hsla(225,2%,44%,.6);
    z-index: 2;
}

.navigation {
    background: var(--bg-color);
    width: 100%;
    height: 8vh;
}

.navigation h1 {
    margin-left: 50px;
    float: left;
    display: inline-block;
}

.navigation h1 a {
    text-decoration: none;
}
#title {
    height: 8vh;
    color: rgba(255,255,255,.7);
}
#domain {
    color: rgba(255,0,0,.65);
}
.navigation ul {
    margin-right: 10px;
    float: right;
    text-align: right;
    height: inherit
}
.navigation ul li {
    float: left;
    display: block;
    margin-top: 20px;

}
.navigation ul li a {
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: .35s all;
    padding: 7px 15px ;
    margin-left: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 17px;
}
.navigation ul li a:hover {
    font-style: normal;
    transform: scale(1.5);
    background: rgba(0,0,0, .3);
    color: rgba(255,0,0,.6);
}
.clear {
    clear: both;
    margin-bottom: 9vh;
}
section {
    width: 100%;
    height: 100%;
}
.cards {
    width: 68%;
    float: left;
}
aside {
    width: 32%;
    float: right;
}


.card {
    border-radius:15px;
    padding: 15px 15px 30px;
    box-shadow: inset 0 0 10px #000000;
    margin: auto 10px 50px 20px;
    background: white; !important;
    overflow:hidden;
    text-align: center;
}

.mainImage {
    border-radius:15px;
    text-align: center;
    display: block;
    width: 100%;
    height:50%;
    transition: 0.4s;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, .05),
    0 22px 27px -20px rgba(7, 10, 25, .05)
}
.mainImage:hover {
     transform: scale(1.01);
 }

h2 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 30px;
    transition: 0.3s all;
}
h2:hover {
    color: rgba(255,0,0,.6);
}
section p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 200;
    background:white;
    margin: 20px auto 25px;
    transition: 0.25s all;
    opacity: 0.6;
}
section p:hover {
    opacity: 1;
}
.more {
    padding: 12px 50px;
    border-radius: 20px;
    color: white;
    background: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    transition: .3s;
    margin-bottom: 20px;
}
.more:hover {
    color: rgba(255,0,0, .5);
}


.yt-video {
    width: 90%;
    height: 250px;
    background: rgba(255,255,255,.95);
    border-radius:8px;
    overflow:hidden;
    margin: 10px auto;
    opacity: 1;
}
h3 {
    font-size: 20px;
    font-weight:400;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    margin: 10px auto;

}
.yt-video:hover {
    opacity: 0.90;
}
iframe {
    width:100%;
    height: 100%;
    margin: auto;
    border: 0;
}


.form {
    width: 75%;
    margin: auto;
}

::placeholder {
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.footer {
    background: rgba(0,0,0,.6);
    text-align: center;
    padding-top:30px;
    padding-bottom: 40px;
}
.footer #mail {
    background: white;
    border-radius: 4px;
    padding-left: 5px;
    width: 20%;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    height: 40px;
    outline: none;
    margin: 4px;
    transition: .4s;
}
.footer #mail:focus {
    width: 25%;
}
.footer #submit {
    border: 2px solid white;
    background: transparent;
    border-radius: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.3s;
    outline: none;
}
.footer #submit:hover {
    background: white;
    color: black;
}

.contact {
    width: 65%;
    margin:auto auto 20px;
}
.contact li {
    list-style: none;
    display: inline-block;
}

.contact li a img {
    width: 34px;
    height: 34px;
    margin-left: 0;
}
.footer h3 {
    color: white;!important
}

select {
    height: 44px;
    font-size: 18px;
    text-transform: uppercase;
    background: #FFFFFF;
    font-weight: 500;
    outline: none;
    width: 20%;
    border: none;
    border-radius: 0; !important;
    text-align: center;
    margin: auto;
}
#copyright {
    margin-top: 10px;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    .cards, aside {
        float: none;
        width: 100%;
    }
    .yt-video {
        height: 400px;
    }
}
@media screen and (max-width: 560px) {
    .navigation ul {
        float: none;
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .navigation h1 {
        display: none;
    }

    .navigation ul li {
        display: inline-block;
        padding: 0 15px;
        width: 22%;
        float: none;
    }

    .navigation ul li a {
        display: inline;
        width: 100%;
    }

    .navigation {
        height: 8vh;
    }

}

@media screen and (max-width: 960px)  {
    .footer #mail {
        width: 89%;
    }
    .footer  #mail:focus {
        width: 88%
    }

    .all {
        background-size: cover;
    }
    select, #submit {
        display: block;
        width: 90%;
        margin: 5px auto;
    }
}
h2:hover, h3:hover {
    color: rgba(255,0,0, .6);
}