body {
    background-color: #313131;
}

nav {
    width: 80%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}
.one {
    height: 100vh;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    list-style: none;
}

li {
    margin-top: 21px;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    padding: 16px 32px;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 250%;
    transition: all .4s;
    letter-spacing: 2px;
    font-size: 21px;

}

li:hover a, .vibrate:hover {
    background-position: 100%;
    color: #313131;
    transform: translateX(16px);
}

.vibrate {
    position: absolute;
    top: 60%; left: 42%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: #00eee0;
    border: 0;
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 0.2rem;
    font-weight: 600;
    outline: none;
    transition: all .5s;
}
.vibrate:hover {
    background: linear-gradient(120deg, darkred 50%, black 50%);
    color: rgba(255,255,255,.8);
    transform: translateX(16px);
}

.vibrate {
    transform-origin: 50% 50%;
    animation: vibrate 0.8s linear infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(2px, 1px) rotateX(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotateX(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotateX(1deg);
    }
    30% {
        transform: translate(0px, 2px) rotateX(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotateX(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotateX(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotateX(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotateX(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotateX(1deg);
    }
    90% {
        transform: translate(2px, 2px) rotateX(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotateX(-1deg);
    }
}
