:root {
    --main-height: 85vh;
}
* {
    margin: 0;
    padding: 0;
}
body {
    /*background:lightcyan;*/
    background: url("cans-background.jpg") center;
    background-size: cover;
    background-attachment: fixed;
}
.html {
    width: 60%;
    margin: 0 auto;
    height: 500vmax;
    background: #000;
}

h1 {
    padding-top: 30px;
    color: lightyellow;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}
h2 {
    padding-top: 15px;
    color: lightblue;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}
.one {
    position: relative;
    height: var(--main-height);
    background: #000000;
}
.anim-1 {
    animation: Rolling 0.05s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 0%;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
}
.anim-1:hover {
    animation: Rolling 0.1s linear infinite;
    transition: all 1.5s;
}

#light-blue-cir, #gradient-cir, #cir, #vicious-cir {
    width: 300px;
    height: 300px;
}

@keyframes Rolling {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.two {
    position: relative;
    height: var(--main-height);
    background: #fff;
}

.anim-2 {
    animation: Rolling 0.3s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 0%;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
}
.anim-2:hover {
    animation: Rolling 0.08s linear infinite;
    transition: all 1.5s;
}
.three {
    position: relative;
    height: var(--main-height);
    background: lightcyan;
}

.anim-3 {
    animation: Rolling 0.5s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 0%;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
}
.anim-3:hover {
    animation: Rolling 0.1s linear infinite;
    transition: all 1.5s;
}


.anim-3 {
    animation: Rolling 0.5s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 0%;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
}
.anim-3:hover {
    animation: Rolling 0.1s linear infinite;
    transition: all 1.5s;
}


.four {
    position: relative;
    height: 100vh;
    background: #ffffff;
}
git
.anim-4 {
    animation: Rolling 0.5s linear infinite;
    margin-top: 50px;
    position: relative;
    top: 20px;
    left: 34%;
    width: 300px;
    height: 300px;
    transition: all 4s;
}
.anim-4:hover {
    animation: Rolling 0.1s linear infinite;
    transition: all 1.5s;
}