* {
    margin: 0;
    padding: 0;
    animation: Hide-Show 4s linear infinite;
}
.navigation {
    position: fixed;
    overflow: visible;
    z-index: 2;
}

.navigation {
    background: black;
    width: 100%;
    height: 8vh;
}
.navigation h1 {
    margin-left: 50px;
    float: left;
    display: inline-block;
}
.navigation h1 a {
    text-decoration: none;
}
#jean {
    color: gold;
}
#jack {
    color: white;
}
.navigation ul {
    margin-right: 50px;
    float: right;
    text-align: right;
}
.navigation ul li {
    float: left;
    display: block;
    padding: 10px 15px ;
}
.navigation ul li a {
    text-decoration: none;
    color: white;
    transition: all 1.5s;
}
.navigation ul li a:hover {
    text-decoration: underline;
    color:gold ;
    font-style: italic;
}
.clear {
    clear: both;
}
.main_wrapper {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.95)),url("words.jpg");
    color: white;
    padding-bottom: 50px;
    visibility: hidden;
    /*transition: all 3s;*/
}
.main {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    height: max-content;
    transition: all 1s;
}

.main h1 {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration-style: solid;
    transition: 0.3s linear;
    color: gold;
}

.main_wrapper p {
    font-size: 16px;
    text-align: right;
    margin-right: 50px;
}
.main_wrapper p a {
    text-decoration: none;
    color: gold;
}
.main_wrapper p a:hover {
    text-decoration: underline;
}

.profile {
    position: relative;
    background:rgba(0,0,0,.95);
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow:  0 -2px 10px darkgray;
    z-index: 1;
}
.profile:hover{
    box-shadow:  0 -5px 10px darkgray;
}
.footer {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.3)),url("nike.jpeg");
    background-position: center center;
    background-size: cover;
    padding-bottom: 30px;
}
.footer a {
    text-decoration: none;
    color: white;
    transition: .5s all;
}
.footer h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    grid-column: 1/3;
    margin-bottom: 30px;
}
.footer h1 a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid white;
}

.contact-form {
    padding: 15px ;
}

input {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
    width: 80%;
    height: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 8px;

}
textarea {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
}
.btn-primary {
    background: #292222 !important;
    /*background: rgba(2,0,36,100) !important;*/
    box-shadow: none !important;
    margin-left: 50px;
    padding: 15px 20px;
    border-radius:0;
    border: none !important;
    text-align: center;
    color: #fff;
}

::placeholder {
    font-size: 12px;
}
.contact-form button {

}
.footer .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.contact-info ul {
    margin-left: 25px;
    list-style-type: armenian ;
}
.contact-info .follow {
    background: white;
    width: 80%;
    padding: 8px;
    margin: 15px;
    font-size: 16px; !important;

}

.address li {
    /*list-style: url("location_filled_16px.png");*/
    padding-left: 20px;
}
.telephone li {
    /*list-style: url("phone_16px.png");*/
    padding-left: 20px;
}
.mail li {
    /*list-style: url("gmail_16px.png");*/
    padding-left: 20px;
}

#copyright {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
}
.footer hr {
    border: none;
    width: 80%;
    margin:50px auto 20px;
    background: gold;
    height: 2px;
}
textarea {
    resize: none;
}

.slider-show {
    border-radius: 5px;
    box-shadow: 0 5px 10px #FFF ;
    /*box-shadow:  0 -2px 10px darkgray;*/
    width: 800px;
    height: 500px;
    overflow: hidden;
    transition: ease-in-out .3s;
}
.slider-show:hover {
    box-shadow: 0 5px 15px #FFF;
    width: 805px;
    height: 505px;
}
.profile {
    position: relative;
    width: 100%;
    height: 600px;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fb2525;
}

.navigate {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {background: #fff}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}
.slide video  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.me {
    height: 400px;
    float: left;
    width: 30%;
}
.me img {
    margin: 30px 16%;
    height: 350px;
    box-shadow: 5px 5px 7px -3px whitesmoke;
    border-radius: 5px;
    transition: ease-in-out .2s;
}
.me img:hover {
    box-shadow:  none;
    height: 347px;
}
.description {
    height: 400px;
    width: 70%;
    float: right;
}
.description p {
    width: 90%;
    margin: 5% auto;
    font-size: 22px;
    font-family: cursive;
    text-align: center !important;
}


video[poster] {
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1 {margin-left:  0; transition: all 1s}
#r2:checked ~ .s1 {margin-left: -20%; transition: all 1s}
#r3:checked ~ .s1 {margin-left: -40%; transition:all 1s}
#r4:checked ~ .s1 {margin-left: -60%; transition:all 1s}
#r5:checked ~ .s1 {margin-left: -80%; transition:all 1s}

#copyright a {
    text-decoration: none;
    color: white;
}
#copyright a:hover {
    text-decoration: underline;
}

.personal {
    /*width: 94%;*/
    margin: auto;
    padding-top: 30px;
    height: 400px;
}


.subscribe {
    border: 1px solid black;
    /*box-shadow: 5px 10px 10px -3px darkgray;*/
    box-shadow:  0 2px 10px darkgray;
    /*box-shadow: 10 10px 15px 4px red ;*/
    background: black;
    color: white;
    margin: 1px 0;
    padding-bottom: 15px;
    padding-top: 15px;

}
.subscribe h1 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;

}
#mymail {
    display: inline-block;
    width: 60%;
    height: 35px;
    font-size: 25px;
    /*outline: none;*/
    border-radius: 40px;
    margin-left: 200px;
    transition: ease-in-out, width .35s ease-in-out;
}
#mymail:focus {
    width: 62%;
    outline-color: gold;
    outline-width: 5px;
}

#but-subscribe {
    margin-left: 20px;
    display: inline-block;
    background: gold;
    padding: 10px 15px;
    border-radius: 3px;
    border:none;
    outline: none;
    transition: 0.5s all;
}

#mymail::placeholder {
    font-size: 20px;
}
#but-subscribe a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#but-subscribe:hover {
    box-shadow: 0 3px 10px -3px darkgray;
    border-radius: 10px;
    transition: 0.5s all;
}

@media screen and  (max-width: 1050px) {
    .personal {
        height: 850px;
    }
    .me, .description {
        width: 100%;
        float: none;
    }

    .description {
        text-align: center !important;
    }
    .me img {

        margin: 30px 35%;
        height: 350px;
    }
    #but-subscribe {
        display: block;
        margin: 15px auto;
    }
    #mymail {
        margin: auto;
        display: block;
    }
    .navigation ul {
        float: right;
        display: block;
        width: 100px;
    }
    .navigation ul li {
        display: block;
        padding: 3px 15px ;
        width: 100%;
    }
    .navigation ul li a {
        display: block;
        width: 100%;
    }
    .navigation {
        height: 11vh;
    }

}

@keyframes Hide-Show {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}