/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    /* background-color: coral; */
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23424a;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 4em;
}

.intro-content {
    width: 50%;
    max-width: 750px;
}

.intro-content p {
    font-size: 1.2em;
    line-height: 1.7em;
}

.intro-content a {
    width: 285px;
    display: block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-color: #38CFD9;
    border-radius: 30px;
}