* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    font-weight: 200;
}

.all {
    height: 80vh;
    background-size: contain;
    background: rgba(0, 0, 0, .3) url("home.jpeg") repeat-x;
    padding-top: 30px;
    position: relative;
}
.data {
    margin-top: 10vh;
}
h1 {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
#address, #contact {
    text-align: center;
    font-size: 18px;
}
.network {
    width: 50%;
    margin: 20px auto 20px ;
    text-align: center;
}
.network li {
    align-items: center;
    text-align: center;
    border-radius: 3px;
    width: 22px;
    height: 18px;
    margin: 8px;
    list-style: none;
    display: inline-block;
}
.network li:nth-of-type(1) {
    background: red;
}
.network li:nth-of-type(2) {
    background: rgb(49,114,173);
}
.network li:nth-of-type(3) {
    background: rgb(67,90, 147);
}
.network li:nth-of-type(4) {
    background: rgb(230,50, 116)
}
.network li:nth-of-type(5) {
    background: rgb(106,170, 232);
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
::placeholder {
    font-size: 18px;
    color: white;
    padding-left: 2px;
}
form {
    width: 24%;
    margin: auto;
}
#mail {
    display: block;
    width: 98.5%;
    padding: 10px 0 10px 5px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 100;
    background: rgba(255,250,250,.2);
}
#mail:focus {
    border: 1px solid black;
}
#submit {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 12px;
    text-align: center;
    background: rgba(0,0,0,.4) ;
    margin: 20px auto auto;
    border: none;
    transition: .4s all;
}
#submit:hover {
    background: rgba(102,201,181,.1) ;
    border: 1px solid black;
    color: black;
}
#submit:focus {
    outline: 1px solid black;
}
.footer  {
    background: rgb(50,50,50) ;
    height: 13vh;
    width: 100%;
    padding-top: 20px;
}
.footer span {
    margin:50px auto auto 50px;
    width: 60%;
    font-size: 14px;
    color: rgba(255,255,255,.85);
}
.contact {
    float: right;
    width: 40%;
    margin: 0 auto 20px ;
    text-align: center;
}
.contact li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 8px;
    list-style: none;
}
@media screen and (max-width: 1200px)  {
    form {
        width: 30%;
    }

}
@media screen and (max-width: 1000px)  {
    form {
        width: 40%;
    }

}

@media screen and (max-width: 760px) {

    .all {
        background: none;
    }

    body {
        background: rgba(0, 0, 0, .3) url("home.jpeg");
        background-position: bottom;
    }
}
@media screen and (max-width: 600px)  {
    form {
        width: 60%;
    }
}

