body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

.all {
    color: #FFFFFF;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .9) url("home.jpeg");
    background-size: contain;
    background-repeat: repeat-x;
    padding-top: 30px;
    background-attachment: fixed;
}

h1 {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 55px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    color: rgba(0,0,0,.8);
}
.form {
    width: 75%;
    margin: auto;
}
#stream {
    letter-spacing: 2px;
    border-radius: 0;
    border: 2px solid white;
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding: 15px 26px;
    text-decoration: none;
    transition: 0.2s;
    font-family: proxima, sans-serif;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stream:hover {
    background: white;
    color:#000000;
}
::placeholder {
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.footer {
    background: rgba(0,0,0,.9);
    text-align: center;
    padding-top:30px;
    padding-bottom: 50px;
}
.footer #mail {
    background: white;
    border-radius: 3px;
    padding-left: 5px;
    width: 20%;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    height: 40px;
    outline: none;
    margin: 4px;
    transition: .4s;
}
.footer #mail:focus {
    width: 25%;
}
.footer #submit {
    border: 2px solid white;
    background: transparent;
    border-radius: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.3s;
    outline: none;
}
.footer #submit:hover {
    background: white;
    color: black;
}

h3 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.contact {
    width: 65%;
    margin:auto;
}
.contact li {
    list-style: none;
    display: inline-block;
}

.contact li a img {
    width: 34px;
    height: 34px;
    margin-left: 0;
}
p a {
    color: white;
    font-weight: 300;
    text-decoration: none;
}

select {
    height: 44px;
    font-size: 18px;
    text-transform: uppercase;
    background: #FFFFFF;
    font-weight: 500;
    outline: none;
    width: 20%;
    border: none;
    border-radius: 0; !important;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 960px)  {
    .footer #mail {
    width: 89%;
    }
    .all {
        background-size: cover;
    }
    select, #submit {
        display: block;
        width: 90%;
        margin: 5px auto;
    }
}