body {
    font-size: 21px;
    height: 100vh;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-parent {
    /* width: 65%; */
    width: 45%;
    margin: 0 auto;
    /* height: inherit; */
    /* background-color: #00000020; */
    text-align: left;
    font-family: monospace;
    padding: 16px;
}

@media(max-width: 800px) {
    .main-parent {
        animation: ease-out 1s;
        width: 75%;
    }
}

h1 {
    margin: 0;
    font-size: 70px;
    background: linear-gradient(0deg, #000000, #af4261, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 1rem;
    color: darkslategray;
}

.blog-post {
    /* background-color: darkviolet; */
}

header {
    padding: 50px 0;
    position: relative;
}

.blog-post span {
    font-size: 0.7rem;
    padding-bottom: -20px;
    color: gray;
}