body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #e4e4e4;
    padding: 25px 0;
    margin-bottom: 25px;
}

main {
    background-color: #e4e4e4;
    max-width: 600px;
    padding: 25px;
    border: solid 5px red;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: #e4e4e4;
    padding: 25px;
    margin-top: 25px;
}