

#header {
    display: flex;
    flex-wrap: nowrap;
}
#profile-pic {
    width: 80px;
    height: 80px;
    background-color: #003;
    border-radius: 50%;
    background-color: green;
    padding: 0.5em;
}

#header-title {
    /* display: block; */
    background-color: yellow;
}


h1 {
    background-color: green;
}
h2 {
    background-color: red;
}